.in_contents_top{ position:relative; height:380px; width:1024px; overflow:hidden; float:left;}
.in_contents_top .leftMenu{ position:absolute; left:10px; top:180px; z-index:10; cursor:pointer;}
.in_contents_top .rightMenu{ position:absolute; left:964px; top:180px; z-index:10; cursor:pointer;}
.in_contents_top .in_bannerb{ position:absolute; left:660px; top:290px; z-index:10;}
.in_contents_top ul{ position:absolute; left:0; top:0; z-index:1; width:800%; height:380px;}
.in_contents_top ul li{ float:left;}

.in_contents_top1{ position:relative; height:380px; width:1024px; overflow:hidden;}
.in_contents_top1 .leftMenu1{ position:absolute; left:10px; top:180px; z-index:10; cursor:pointer;}
.in_contents_top1 .rightMenu1{ position:absolute; left:964px; top:180px; z-index:10; cursor:pointer;}
.in_contents_top1 .in_bannerb{ position:absolute; left:660px; top:290px; z-index:10;}
.in_contents_top1 ul{ position:absolute; left:0; top:0; z-index:1; width:800%; height:400px;}
.in_contents_top1 ul li{ float:left;}

.in_contents{ width:1024px; margin:0 auto;}
.in_contents_bottom{ width:1024px;}